---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">Born in Buenos Aires in 1989 and resident in Japan since 2017. Sponsored by the Japanese Ministry of Education (MEXT) for research in contemporary Japanese education. Over ten years of professional experience in cross-language communication services, with top quality reviews and references available online. Member of the Japan Translation Federation (JTF).</div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="Bachelor of Arts | 2013" subtitle="Universidad Nacional de las Artes (Argentina)" />
    <TimeLineElement title="Teacher qualification in Arts Education | 2014" subtitle="Conservatorio Superior de Música de la Ciudad de Buenos Aires (Argentina)" />
    <TimeLineElement title="Master’s degree in Education | 2020" subtitle="Graduate School of Education, Yokohama National University (Japan)" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Translator, editor and interpreter"
      subtitle="Self-employed | 2012 to date"
      desc="For import-export companies based in Buenos Aires, Argentina Translation and localization of web contents, news, catalogs, business correspondence, assistance at trade fairs and interpretation of business meetings with partners from Europe, the United States, India, China and Japan · For translation agencies based in Japan and Europe Alaya: translation, proofreading and editing in Spanish and Italian SunFlare: translation from English and Japanese into Spanish, localization and editing Franchir: translation from English and Japanese into Spanish, proofreading, editing, subtitling, voiceover and project management assistance Shams: translation from English and Japanese into Spanish Language House: translation from Japanese into English and Spanish SELC Group: translation from English and Japanese into Spanish Tomedes: translation and subtitling from English and Japanese into Spanish Gengo/Lionbridge: translation and editing from English and Japanese into Spanish TextMaster: translation from English and Italian into Spanish"
    />
    <TimeLineElement
      title="Translator, teacher and Academic Affairs Office Secretary"
      subtitle="Conservatorio Superior de Música de la Ciudad de Buenos Aires | 2014-2017"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervención of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.7 , Subversión, PostgreSQL, HigthChart, Ireport, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Spanish: native, excellent writing</li>
    <li>Japanese: JLPT N1 and Japanese-Spanish translator certification (TQE, top level)</li>
    <li>English: Cambridge English: Proficiency (C2, highest level)</li>
    <li>Italian: CILS4 from Università per Stranieri di Siena (C2, highest level)</li>
    <li>Portuguese: advanced level, oral and written skills</li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Software Skills</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Translation project management: SDL Trados Studio 2021 (certified), MultiTerm, memoQ</li>
    <li>Subtitling and video editing: SubtitleEdit, Aegisub, Adobe Premiere</li>
    <li>Web design: Visual Studio Code, Adobe Dreamweaver (HTML/CSS)</li>
  </ul>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div> -->

  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish: native, excellent writing</li>
    <li>Japanese: JLPT N1 and Japanese-Spanish translator certification (TQE, top level)</li>
    <li>English: Cambridge English: Proficiency (C2, highest level)</li>
    <li>Italian: CILS4 from Università per Stranieri di Siena (C2, highest level)</li>
    <li>Portuguese: advanced level, oral and written skills</li>
  </ul> -->
</BaseLayout>
