---
const today = new Date()
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Alan Gazzano
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    <a href="https://github.com/alangazzano" target="_blank" class="font-bold">ЁЯЪА BUILT WITH ASTRO</a>
    <!-- <a href="https://github.com/alangazzano" target="_blank" class="font-bold">Alan Gazzano тЪбя╕П</a> -->
  </div>
</footer>
<style>

</style>
